<div class="container">
  <h1>{{ title }}</h1>
  <form>
    <div class="form-group">  
      <label>Number A:</label>
      <input type="number" class="form-control" 
        placeholder="Write Number 1" [(ngModel)]="numberA" name="NumberA" />
    </div>
    <div class="form-group">  
      <label>Number B:</label>
      <input type="number" class="form-control" 
        placeholder="Write Number 2" [(ngModel)]="numberB" name="NumberB" />
    </div>
    <button type="submit" class="btn btn-primary"
      (click)="sum()">Sum</button>
    <p>Result: {{ result }}</p>
  </form>
</div>